<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>
<body>

    <h2>Edit Doctor Profile</h2>
<form action="/dashboard/doctor/edit/<%= doctor.id %>" method="POST" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= doctor.name %>" required>
    
    <label for="qualification">Qualification:</label>
    <input type="text" id="qualification" name="qualification" value="<%= doctor.qualification %>" required>
    
    <label for="expertise">Areas of Expertise:</label>
    <input type="text" id="expertise" name="expertise" value="<%= doctor.expertise %>" required>
    
    <label for="image">Profile Picture:</label>
    <input type="file" id="image" name="image">

    <button type="submit">Update Doctor</button>
</form>

</body>
</html>
