<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>
<body>
        <h1>Edit Blog</h1>
        <form action="/dashboard/blogs/edit/<%= blog.blog_id %>" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= blog.title %>" required>
    
            <label for="content">Content</label>
            <textarea name="content" id="content" required><%= blog.content %></textarea>
    
            <label for="author">Author</label>
            <input type="text" name="author" id="author" value="<%= blog.author %>">
    
            <button type="submit">Submit</button>
        </form>
    
</body>
</html>
