<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcom to Admin Dashboard</h1>

    
    <div>
        <a href="/dashboard/services" class="btn">Manage Services</a>
        <a href="/dashboard/blogs" class="btn">Manage Blogs</a>
        <a href="/dashboard/doctor" class="btn">Doctors</a>
        <a href="/dashboard/appointments" class="btn">Appointments</a>
    </div>
</body>
</html>
