html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}


/* Doctor  */
/* 
.doctor-profiles {
    text-align: center;
    padding: 20px;
}

.doctor-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.doctor-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    margin: 15px;
    text-align: left;
}

.doctor-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
} */


/* dashboard doctor  */

.doctor-list-dash {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.doctor-profile-dash {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.doctor-image-dash {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.doctor-profile-dash h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.doctor-profile-dash p {
    font-size: 1.1em;
    margin: 5px 0;
}
